@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: beige;
    text-align: center;
    height: 100px;
    padding-top: 20px;
}

h1 {
    font-weight: 400;
    letter-spacing: 1px;
}

nav {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: orange;
    margin: 0 20px;
    padding: 10px;
}

a:hover {
    color: orangered;
}

section {
    text-align: center;    
}

div {
    border: 1px solid #000;
    width: 300px;
    height: 360px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

img{
    width: 250px;
}

figcaption {
    font-weight: bold;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

button:hover {
    background-color: orangered;
}

footer {
    height: 100px;
    background-color: beige;
    text-align: center;
}

p {
    padding-top: 50px;
    color: orange;
}